<a href="https://colab.research.google.com/github/Iqraawan451512/-atm/blob/main/q3_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# type's of python

## there are four types
str int float and boolen
string mean simple string form like santances
integer mean numbers 1,2 ,1 so one
float means
numbers in points 2.4
boolen
in a true or false form

In [17]:
first_name="iqr"
Lastname="ifr"
print(first_name + Lastname)
print( f"{first_name} {Lastname}")

iqrifr
iqr ifr

type bataega iski

In [28]:
first_name="iqra"
email=f"""Hi {first_name}
you nikal"""
print( type(email))
print(id(email))

<class 'str'>
137000125522736

length or index number

In [33]:
fruit=["apple","mango","banana"]
print(fruit[0:1])
print(fruit[-2])
print(fruit[0])

['apple']
mango
apple

line break karna

In [26]:
first_name="iqra"
email = f""" Hi {first_name}
 you won a lotery ticket """
print(email)

 Hi iqra
 you won a lotery ticket

In [19]:
email = """iqra\n you won a lotery ticket"""
print(email)

iqra
 you won a lotery ticket

In [11]:
first_name:str = "ifra,iqra"
print(type(first_name))
print(first_name)

<class 'str'>
ifra,iqra

In [14]:
age: int=26
height:float =5.9
isTeacher=True
type(first_name)
print(age)
print(isTeacher)
print(height)

26
True
5.9

In [1]:
x=5
y=6
print(x+y)

11

In [2]:
print("hello world")

hello world