<a href="https://colab.research.google.com/github/Iqraawan451512/-atm/blob/main/quater3_class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
iftar_items=["samosa" , "pakora", "sharbat"]
iftar_items[2]= "chaat"
iftar_items.pop()
iftar_items.append("dahi barey")
iftar_items.remove("samosa")
print(iftar_items)

['pakora', 'dahi barey']

taples men jo chez store ho gi wo change nae ho gi tuples immutable hoty hen in men change nae hoty is k performance fast hoty hen .orderlist  yani sequence men rahty hen  python hamen tuples k feature dyta hy is men bhe index number hoty hen

In [ ]:
iftar_items_tuples=("khajor" ,"pakoray" ,"roohafza")

sets is men unique items hoty hen is men add or remove kar sakty hen is men sequence change hoti hy y un order hoty hen is le a is men hum change nae kar sakty hen y un changeable hoty hen is men index number nae hoty let ko set men convert kar sakty hen
iftar_items_set ={" roh afza" ,"rooh afza" ,"bananan" ,"jalabi" ,"samosay"}
aik new variable men store kren gy jasy iftar_item_sets k bananan hy
iftar_item_sets =set(iftar_items)
agr list men change karna hy to set k jaga list ho jaye ga is men change nae kar sakty hen lakin add or remove kar sakty hen lakin hata nae sakty
. add or .remove k method sy

ferozan set men him add or remove bhe nae kar sakty
baki set k tarhan h hoty hen is k data type frezonset h hy

input men jo bhe dalen k wo usy string pass kary ga
python men string or number ko add nae kar sakty error dy da is ko khaty hen implestive type casting
python khud type ko change kar dyta hy
hum batanty hem explasitive type casting h hum batat rahy hen k type ko change kar do python ko bolen int type  yani  num 1 yani number
float type yani points men number
int or () men lekhny k matlab hy implestive type
hum string or int ko yani integer ko add nae karwa skty

modules yani apni file ko diffrent files men tor dyna ta ky code readable ho is men hum !pip ky name sy koi bhe module ko install kar sakty hen
!pip install request

function

In [ ]:
def greet():
    print("hello world!")

greet()

hello world!

item :str hamary parameter hen ball hanmary pass argument hy
function chala parameter sy argument k pass ja k chala ny print karwaya return men hum isy save py kar sakty hen aik new veriable men  like bag=catch("⚽")
positional argument jo phly hy parameter wo phala  argument men aye ga
uper hum parameter men item 1 .item2 den or nechy argument men ball1 jo den gy wo item1 ho ga or ball2 hamara parameter 2 k hi ga .
keyword argument yani hum argument k sath parameter bat den gy
item=" ball " , item-2="ball2"

In [ ]:
def catch(item: str):
    print(f"hello world! {item}")
    return item

bag = catch("⚽")

hello world! ⚽

In [ ]:
import math
print(math.sqrt(25))
print (math.pi)

5.0
3.141592653589793

In [ ]:
user_input = int(input("enter a number :"))
print(user_input + 2)

enter a number :2
4

In [ ]:
iftar_items_set ={" roh afza" ,"rooh afza" ,"bananan" ,"jalabi" ,"samosay"}
iftar_items_fset :frozenset= frozenset(iftar_items_set)
print(iftar_items_fset)

frozenset({'jalabi', 'samosay', 'bananan', 'rooh afza', ' roh afza'})

In [ ]:
iftar_items_set ={" roh afza" ,"rooh afza" ,"bananan" ,"jalabi" ,"samosay"}
print(iftar_items_set)

{'jalabi', 'samosay', 'bananan', 'rooh afza', ' roh afza'}

# 3rd class of python 7 march **2025**

In [ ]:
print("its our 3rd class")

its our 3rd class